apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: metaverse-ingress
  namespace: metaverse
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
spec:
  ingressClassName: nginx

  tls:
    - hosts:
        - k8s-metaverse.raashed.xyz
      secretName: metaverse-ui-tls

    - hosts:
        - k8s-game-server.raashed.xyz
      secretName: game-server-tls

    - hosts:
        - k8s-game.raashed.xyz
      secretName: metaverse-ws-tls

  rules:
    - host: k8s-metaverse.raashed.xyz
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: metaverse-frontend
                port:
                  number: 80

    - host: k8s-game-server.raashed.xyz
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: metaverse-backend
                port:
                  number: 8082

    - host: k8s-game.raashed.xyz
      http:
        paths:
          - path: /ws
            pathType: Prefix
            backend:
              service:
                name: metaverse-ws
                port:
                  number: 8083
