apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: metaverse-ingress
  namespace: metaverse
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    nginx.ingress.kubernetes.io/proxy-body-size: "10m"
    nginx.ingress.kubernetes.io/proxy-http-version: "1.1"
    nginx.ingress.kubernetes.io/upgrade: "websocket"
    nginx.ingress.kubernetes.io/connection: "Upgrade"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "3600"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "3600"

spec:
  ingressClassName: nginx
  tls:
    - hosts:
        - k8s-metaverse.raashed.xyz
      secretName: metaverse-tls

  rules:
    - host: k8s-metaverse.raashed.xyz
      http:
        paths:
          - path: /ws
            pathType: Prefix
            backend:
              service:
                name: metaverse-websocket
                port:
                  number: 8083

          - path: /api
            pathType: Prefix
            backend:
              service:
                name: metaverse-backend
                port:
                  number: 8082

          - path: /
            pathType: Prefix
            backend:
              service:
                name: metaverse-frontend
                port:
                  number: 80
